# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
.next
out
build

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Environment files (dùng biến môi trường khi chạy container)
.env
.env.*
.env*.local
!.env.example

# Dev & debug
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode
.idea
*.swp
*.swo

# Misc
README.md
coverage
.content-collections
